# Planejamento da Solução

# Imports

In [19]:
import pandas                      as pd 
import seaborn                     as sns
import numpy                       as np
from IPython.core.display          import HTML
from matplotlib                    import pyplot as plt

## Helper Functions

In [11]:
def jupyter_settings():
    """ Otimiza configurações gerais, padronizanod tamanhos de plots, etc """
    %matplotlib inline
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    sns.set()
    pd.set_option('display.max_columns', 30)
    pd.set_option('display.max_rows', 30)
jupyter_settings()

## Load Data

In [22]:
df_raw = pd.read_excel("../data/data_raw.xlsx")
df_raw

         codigo               nome          cidade estado  população  popAte9  popDe10a14  popDe15a19  popDe20a24  popDe25a34  popDe35a49  popDe50a59  popMaisDe60  domiciliosA1  domiciliosA2  domiciliosB1  domiciliosB2  domiciliosC1  domiciliosC2  domiciliosD  domiciliosE rendaMedia  faturamento potencial
0    3304557060           Abolição  Rio de Janeiro     RJ      11676     1027         483         688         800        1675        2300        1784         2919             0           145           715          1242          1093           758           92          304       2501     932515.0     Médio
1    3304557138              Acari  Rio de Janeiro     RJ      27564     5131        2188        2697        2630        4810        5308        2403         2397             0             0            82           506          2040          2490          827         2506        931     588833.0     Baixo
2    3304557057         Água Santa  Rio de Janeiro     RJ       9003      883         399         597         762        1755        2076        1112         1419             0            96           404           652           644           522           77          254       2391     874200.0     Baixo
3    3304557031  Alto Da Boa Vista  Rio de Janeiro     RJ       9606     1072         538         660         685        1317        2007        1341         1986           114           178           393           517           945           584          137          286       3727     912226.0     Médio
4    3304557125           Anchieta  Rio de Janeiro     RJ      57222     7677        3774        4892        4600        8660       12272        7157         8190             0             0          1089          2821          5110          5422         1073         3261       1380     553020.0     Médio
..          ...                ...             ...    ...        ...      ...         ...         ...         ...         ...         ...         ...          ...           ...           ...           ...           ...           ...           ...          ...          ...        ...          ...       ...
451   355030213         Vila Sônia       São Paulo     SP      34061     2908        1462        2253        2076        4579        7557        5227         7999           942          1089          2866          2219          2216          1227          306         1098       5285          NaN       NaN
452   355030207        Vila Suzana       São Paulo     SP      35403     4127        1890        2678        2433        5855        9107        4608         4705          1726          1522          2458          1186          1166           918          209         3840       7418          NaN       NaN
453   355030162     Vila Terezinha       São Paulo     SP     122359    18304        9304       13258        9965       19248       26592       12579        13109             0             0          1758          4517          9450         11473         3218         7540       1252          NaN       NaN
454   355030157          Vila Zatt       São Paulo     SP     125864    14670        7305       11225        9338       18841       28500       16700        19285             8           872          5093          8063         10012          8082         2856         6853       1936          NaN       NaN
455   355030164       Vista Alegre       São Paulo     SP        106       23           7          15          11          15          26           4            5             0             0             0             6             9             8            2            4       1288          NaN       NaN

[456 rows x 24 columns]